/* =========================================
   VARIÁVEIS GLOBAIS (PALETA DE CORES)
========================================= */
:root {
  --bg-site: #FBFAF9;         
  --bg-quadros: #CBD2D6;      
  

  --cor-azul-claro: #75A3BF;  
  
  --cor-amarelo: #F2C8A2;    
  --cor-amarelo-escuro: #A65D33; 
  
  --cor-verde: #616F8C;      
  --cor-verde-escuro: #2E312F;
  

  --cor-rosa: #D9626B;       
  --cor-vermelho: #883440;    
  
  --texto-escuro: #2E312F;    
  --texto-cinza: #654F40;     
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-site);
  color: var(--texto-escuro);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}