/* =========================================
   VARIÁVEIS GLOBAIS (PALETA DE CORES)
========================================= */
:root {
  --bg-site: #fcf0cd;         
  --bg-quadros: #F2F2F2;      
  
  --cor-azul-claro: #5DC1D0;  
  --cor-amarelo: #F2B705;     
  --cor-amarelo-escuro: #BF7E04; 
  
  --cor-verde: #03A63C;       
  --cor-verde-escuro: #3E732F;
  
  --cor-rosa: #F25790;        
  --cor-vermelho: #C00606;    
  
  --texto-escuro: #2b2b2b;
  --texto-cinza: #666666;
}

/* =========================================
   RESET GLOBAL DE MARGENS E ESPAÇAMENTOS
========================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================================
   CONFIGURAÇÕES DO CORPO DO SITE
========================================= */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-site);
  color: var(--texto-escuro);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}